@model Medex.Models.Doctor;


@{

    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<body>

    <hr />

    <div class=" container-fluid  border h-100  m" id="contactus" @*style="height:500px;"*@>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
                <div class="card-body row">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 text-center mt-5">
                        <div><i class="fa fa-user-md " style="font-size: 150px; color:black;"></i></div>
                        <div class="text-black text-center mb-2 text-success">
                            <h3>welcome</h3><br /><br />
                            <p>To register yourself as a Doctor, visit www.medex.com, click Register/Log-In button on the top of the page and fill in the required fields. </p>

                        </div>
                        <div class=" text-center mt-3">
                            <a class="border w-50  text-black" id="contact" asp-area="" asp-controller="Account" asp-action="Login">Already A Member</a>
                        </div>

                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-8 col-lg-8 col-xl-8 bg-light py-4 mb-4  register ">
                        <div class="text-success text-center" id="contact">
                            <h2>REGISTRATION FORM</h2>
                        </div>
                        @if (Model != null)
                        {
                            if (Model.ErrorHappened)
                            {
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Message:</strong> <b> @Model.Message   </b>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Message:</strong> <b>  @Model.Message  </b>
                                </div>
                            }


                        }
                        <form asp-action="Register" method="post" enctype="multipart/form-data">
                            <div class="row reg">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 mt-5">
                                    <div class="form-group text-center">
                                        <label asp-for="FirstName" class="control-label"></label>
                                        <input asp-for="FirstName" type="text" class="form-control w-50 offset-3 text-center" />

                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 mt-5 ">
                                    <div class="form-group text-center">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" type="text" class="form-control w-50 offset-3 text-center" />
                                    </div>
                                </div>
                            </div>
                            <div class="row reg">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 ">
                                    <div class="form-group text-center">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" type="email" class="form-control w-50 offset-3 text-center" />
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 ">
                                    <div class="form-group text-center">
                                        <label asp-for="PhoneNumber" class="control-label"></label>
                                        <input asp-for="PhoneNumber" class="form-control w-50 offset-3 text-center" />
                                    </div>
                                </div>
                            </div>
                            <div class="row reg">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
                                    <div class="form-group text-center">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" type="password" class="form-control w-50 offset-3 text-center" />
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
                                    <div class="form-group text-center">
                                        <label asp-for="DepartmentId" class="control-label"></label>
                                        <select asp-for="DepartmentId" class="form-control select w-50 offset-3 text-center" asp-items="@(new SelectList(@ViewBag.MedexDepartment, "Id", "Name"))"> </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row reg">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
                                    <div class="form-group text-center">
                                        <label asp-for="ConfirmPassword" class="control-label"></label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control w-50 offset-3 text-center" />
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5 mt-4">
                                    <div class="form-group offset-3">
                                        <input asp-for="ImageUrl" type="file" />
                                    </div>
                                </div>
                            </div>

                            <div class="row p-4">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
                                    <div class="form-group text-cente">
                                        <button type="submit" id="contact" class="border text-black w-50 offset-3">Register</button>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-5 col-xl-5">
                                    <div class="form-group text-center">
                                        <a asp-action="Register">Back</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<hr />



