@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/m2.webp" alt="Los Angeles" class="imageback">
                <div class="carousel-caption">
                    <h1>THE MOST VALUABLE THING IS YOUR HEALTH</h1>
                    <P>Far far away, behind the word mountains, far from the countries vohella and consonantia, there line the blind text, separated they line in Bookmarksgroove</P>
                    <p>

                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/images/mo1.jpg" alt="Chicago" class="imageback">
                <div class="carousel-caption">
                    <h1>THE MOST VALUABLE THING IS YOUR HEALTH</h1>
                    <P>Far far away, behind the word mountains, far from the countries vohella and consonantia, there line the blind text, separated they line in Bookmarksgroove</P>
                    <p>

                       
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/images/mo2.jpg" alt="New York" ; class="imageback">
                <div class="carousel-caption">
                    <p><h1>THE MOST VALUABLE THING IS YOUR HEALTH</h1></p>
                    <P>Far far away, behind the word mountains, far from the countries vohella and consonantia, there line the blind text, separated they line in Bookmarksgroove</P>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3">
            <h2>REGISTER & GO - 24/7</h2>
            <p>To register yourself as Patient or as a Doctor, visit www.medex-global.com, click Sign-In/Sign-Up button on the top of the page and fill in the required fields.</p>
            <p>Sign-In to access your dedicated portal using your email address as ID and your Password set during registration.</p>

            <p>Once registered, Patient or Doctor can access each other at anytime from anywhere in the world. Just inform your Doctor, the Patient Name, or Cell Number or Medical Record Number or the Email Address and he will access your all past treatment history, previous prescriptions and tests records and advise you accordingly.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3">
            <h2>MAKE APPOINTMENTS ONLINE</h2>
            <p>Visit www.medex-global.com Search doctor by selecting Specialization, City. Choose doctor by viewing his/her brief profile. Press the “Book an Appointment” button that will take you to Sign-In/Sign-Up page.</p>
            <p>Sign-In/ Sign-Up to login using your email address as ID and your Password set during registration. It will open your selected doctor’s calendar. Click one of the available time/date slots. Select one of three options (In-Clinic Visit, Video Consultation, Home Visit) shown with fee respectively. You will receive SMS request to make payment.</p>
            <p>Click “Make Payment” button on menu bar that will take you to new page showing button “Pay Now” for online payments using Cards, Bank Account or your eWallet (EasyPaisa or Upay). You may please call our helpline for direct payment if you find any problems in booking appointment or paying online.</p>
            <p>Soon as the payment is through, you will receive Confirmation of Appointment in SMS and in email. Doctor will expect you at his/her clinic for In-Clinic Appointment. In case of Live Video session, we will send you SMS alert 24 Hours in advance and 30 minutes before video consultation appointment time. Please login to your MedEx account 10 minutes before scheduled time of video session and expect call from your doctor.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3">
            <h2>LIVE VIDEO CONSULTATION</h2>
            <p>Please login to www.medex-global.com some 10 minutes in advance of scheduled time for video call from your doctor.</p>
            <p>You will receive bell and a message showing name of the doctor calling. Accept the call by clicking Accept or Allow button. A window will open within your Medex dashboard and you will see your doctor talking to you live like on Skype or WhatsApp.</p>
            <p>If you find trouble in receiving call or message showing security restrictions, please allow Camera, Microphone, Notifications and Pop-Ups by clicking on Lock sign in your www address bar or by clicking three dots on browser page, click “Settings” and then click on “Privacy and Security”, reset options to allow Camera, Microphone, Notifications and Pop-Ups. Security settings are done once only on your phone/ computer.</p>
            <p>Once the consultation session is over, you will receive your prescription through email, SMS and WhatsApp and the same is automatically uploaded on your Patient Portal as well.</p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
            <div class="section-tittle text-center p-3">
                <h2 class="text-uppercase mt-3 line-height-1">Our Specialties</h2>
                <div class="title-icon">
                    <img class="mb-10" src="images/title-icon.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/11.jpg" alt="" class="images"></a>
            <h6>Allergy & Pulmonology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/15.jpg" alt="" class="images"></a>
            <h6>Cardiology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/6.jpg" alt="" class="images"></a>
            <h6>Dermatology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12  p-3">
            <a href=""><img src="~/images/10.jpg" alt="" class="images"></a>
            <h6>Endocrinology</h6>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/8.jpg" alt="" class="images"></a>
            <h6>Gastroenterology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/1.jpg" alt="" class="images"></a>
            <h6>Neurosciences</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/19.jpg" alt="" class="images"></a>
            <h6>Oncology/Hematology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/4.jpg" alt="" class="images"></a>
            <h6>Orthopedics/Physio</h6>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/20.jpg" alt="" class="images"></a>
            <h6>Pediatrics</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/16.jpg" alt="" class="images"></a>
            <h6>Psychiatry</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/9.jpg" alt="" class="images"></a>
            <h6>Radiology</h6>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 p-3">
            <a href=""><img src="~/images/16.jpg" alt="" class="images"></a>
            <h6>Urology/Nephrology</h6>
        </div>
    </div>
</div>


<section id="featured_services" class=" bg-lighter">
    <div class="container mt-3 text-center">
        <div class="section-title">
            <div class="row mt-3">
                <div class="col text-center">
                    <h2 class="text-uppercase mt-3 line-height-1">Featured Services</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>
                    <p>MedEx Tele-health services can provide many benefits across the continuum of healthcare for patients, doctors, and hospitals. Also, it helps organizations to reduce medical absences and prevent un-necessary budget losses on treatment of their employees.</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3 text-center">
                        <a href="" class="media">
                            <img src="images/docnpracsupp.jpg" alt="" class="imagerow" >
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3">
                        <a href="" class="media">
                            <img src="images/patsupp.jpg" alt="" class="imagerow">
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3">
                        <a href="" class="media">
                            <img src="images/orghealth.jpg" alt="" class="imagerow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3">
                        <a href="" class="media">
                            <img src="images/openclinicsrv.jpg" alt="" class="imagerow">
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3">
                        <a href="" class="media">
                            <img src="images/vaccsuppsrv.jpg" alt="" class="imagerow">
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12">
                    <div class="icon-box media p-3">
                        <a href="" class="media">
                            <img src="images/trainingnplace.jpg" alt="" class="imagerow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container mt-3 mb-3">
        <div class="section-title">
            <div class="row p-3 mt-3 justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3 mt-3 mb-3 text-center">
                    <h2 class="text-uppercase mt-3">News & Announcements</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--<p>News Content</p>-->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3 mt-3 mb-3">
                    <div class="owl-carousel-3col">
                        <div class="item">
                            <article class="post clearfix bg-lighter">
                                <div class="entry-header">
                                    <div class="post-thumb thumb">
                                        <img src="images/trainingnews.jpg" alt=""  class="img-responsive img">
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta media">
                                        <div class="media-body">
                                            <div class="event-content pull-left flip">
                                                <h4 class="entry-title text-black font-weight-300">
                                                    <a href="" style="color: black">Training & Job Opportunities</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3 mt-3 mb-3">
                    <div class="item">
                        <article class="post clearfix bg-lighter">
                            <div class="entry-header">
                                <div class="post-thumb thumb">
                                    <img src="images/intresting.jpg" alt=""  class="img-responsive img">
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="entry-meta media">
                                    <div class="media-body">
                                        <div class="event-content pull-left flip">
                                            <h4 class="entry-title text-black font-weight-300">
                                                <a href="" style="color: black">Interesting Research Article</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xs-12 p-3 mt-3 mb-3">
                    <div class="item">
                        <article class="post clearfix bg-lighter">
                            <div class="entry-header">
                                <div class="post-thumb thumb">
                                    <img src="images/approvedmed.jpg" alt=""  class="img-responsive img ">
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="entry-meta medias">
                                    <div class="media-body">
                                        <div class="event-content pull-left flip">
                                            <h4 class="entry-title text-black font-weight-300">
                                                <a href="" style="color: black">New Medicine Approved by FDA</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <p></p>
</div>
