@model Medex.Models.WorkHour;

@{

    ViewData["Title"] = "WorkHour";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<body>
<div class="container m">
    <div class="row">
        <div class="col">

            @if (Model != null)
            {
                if (Model.ErrorHappened)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Message:</strong> <b> @Model.Message   </b>
                    </div>
                }
                else
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Message:</strong> <b>  @Model.Message  </b>
                    </div>
                }


            }
        <form id="contactus" asp-controller="WorkHour" asp-action="Edit" method="post">
            <div class="form-group text-center  text-success mb-5">
                <h1>Work Hour</h1>
                <p>This is the Doctor's work hour set up.  Patient or Doctor can access each other at anytime from anywhere in the world.</p>
            </div>
            <div class="form-group">
                <label asp-for="WeekDays" class="control-label"></label>
                <select asp-for="WeekDays" class="form-control w-50 offset-3 text-center select" asp-items="@(new SelectList(@ViewBag.DaysOfTheWeek, "Id", "Name"))" required> </select>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control w-50 offset-3 text-center" required />
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control w-50 offset-3 text-center" required />
            </div>

            <div class="form-group text-center">
                <input asp-controller="Doctor" asp-action="WorkHourSetUp" type="submit" value="Set Up" class="btn shadow w-25" />
            </div>
            <div class="form-group offset-11">
                <a asp-action="WorkHourSetUp">Back</a>
            </div>
        </form>
        </div>
    </div>
</div>
</body>